@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply font-sans text-gray-300 bg-gray-50;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-btn font-semibold transition-colors duration-200;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-hover;
  }
  .btn-default{
    @apply border border-primary text-primary bg-transparent  hover:bg-primary-light
  }
  .btn-secondary {
    @apply bg-primary-light text-primary hover:bg-secondary;
  }
  .input {
    @apply w-full px-4 py-2 border border-gray-100 rounded-btn focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent;
  }
  .input-error {
    @apply border-accent focus:ring-accent;
  }
  .dropdown {
    @apply w-full px-4 py-2 border border-gray-100 rounded-btn appearance-none bg-white;
  }
  .tab {
    @apply px-4 py-2 font-semibold text-gray-200 hover:text-primary;
  }
  .tab-active {
    @apply text-primary bg-primary-light rounded-md px-4;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
